/* Position the front and back side */
._flip-card-front,
._flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
._flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
._flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
